/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: gray;
}

/* Header y Navegaci칩n */
header {
    background-color: black;
    padding: 15px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 500px;
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #16a085;
}

/* Section Styles */
section {
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: black;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: #34495e;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 15px;
    text-align: justify;
}

p em {
    font-style: italic;
    color: #7f8c8d;
}

img {
    width: 300px; /* Ajusta el ancho de las im치genes */
    height: 300px; /* Ajusta el alto de las im치genes */
    margin-top: 20px;
}

/* Footer Styles */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 0.9rem;
}

/* Bot칩n Redireccionador */
.btn-inicio {
    display: inline-block;
    text-decoration: none;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.btn-inicio:hover {
    background-color: #34495e;
    transform: translateY(-2px);
}
